body{
    background-image: url("https://i.pinimg.com/736x/6a/84/10/6a841099a41556baab95731111a4ae2e.jpg");

}
h2 {
    padding: 200px 100px;
    text-align: center;
    font-size: 25px;
}
h3 {
    text-align: left;
}
input {
    color: royalblue;
}