* {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: #555555;
}
div {
    justify-content: space-between;
    padding: 1em;
    text-align: center;
    
   
}
    

.check:has(.checkbox:checked) {
    color: #555555;
    background: #eeeeeeee;
    text-decoration: line-through;
    order: 1;
    
}
h1{
   
    margin: 0px;
    text-align: center;
    padding: 10px;
}
.box {
    box-shadow: 2px 3px 40px grey;
   
}
